* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --color-azul: #444ce7;
  --color-blanco: #ffffff;
  --color-gris-claro: #d3d3d3;
  --color-gris-claro2: #a2a2a2;
  --color-naranja: #b33609;
  --color-gris-medio: #828282;
  --color-gris-oscuro: #4a4a4a;
  --color-gris-oscuro2: #282828;
  --color-negro: #000000;
}



/* =========================
  SLIDER
========================= */



/* =========================
  BIENVENIDA
========================= */

.bienvenida {
  padding: 48px 20px;
  color: var(--color-negro);
  text-align: center;
  background-color: var(--color-blanco);
}

.bienvenida__titulo {
  margin-bottom: 14px;
  font-size: 30px;
  font-weight: 400;
}

.bienvenida__texto {
  width: min(700px, 100%);
  margin: 0 auto;
  color: var(--color-gris);
  font-size: 14px;
  line-height: 1.7;
}

/* =========================
  FOOTER
========================= */

.footer {
  padding: 22px 20px;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  background-color: var(--color-gris);
}

.footer__texto {
  font-size: 12px;
}

/* =========================
  TABLET Y MENÚ MÓVIL
========================= */

@media (max-width: 800px) {

  .pilares__contenedor {
    grid-template-columns: repeat(2, 1fr);
  }

  .pilar:nth-child(2) {
    border-right: none;
  }

  .pilar:nth-child(-n + 2) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  }
}

/* =========================
CELULAR
========================= */

@media (max-width: 520px) {
  .pilares__contenedor {
    grid-template-columns: 1fr;
  }

  .pilar {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  }

  .pilar:last-child {
    border-bottom: none;
  }
}