/* 

.bienvenida {
    padding: 48px 20px;
    text-align: center;
}

.bienvenida__titulo {
    margin-bottom: 14px;
}

.bienvenida__texto {
    width: min(700px, 100%);
    margin: 0 auto;
    line-height: var(--line-height-body);
}

*/



/* DAR MÁS AIRE */ 

.bienvenida {
    padding: 80px 20px 56px;
    text-align: center;
    }

    .bienvenida__titulo {
    margin-bottom: 14px;
    }

    .bienvenida__texto {
    width: min(700px, 100%);
    margin: 0 auto;
    line-height: var(--line-height-body);
    }

    @media (max-width: 768px) {
    .bienvenida {
        padding: 56px 20px 40px;
    }
}